/* font-family: 'Capriola', sans-serif;
font-family: 'Poppins', sans-serif; */
:root {
  --primary-color: #e9fffb;
  --secondary-color: #5651a4;
  --heading-font-family: "Capriola", sans-serif;
  --body-font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font-family);
}
body {
  font-family: var(--body-font-family);
}
p,
footer {
  font-weight: 400;
  line-height: 30px;
  font-size: 18px;
}
/* homepage hero styles */
.hero {
  text-align: center;
  background-color: var(--primary-color);
  padding: 160px 40px;
}
.hero p {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  color: #272142;
}
.hero h1 {
  font-size: 96px;
}
.hero h2 {
  font-family: var(--body-font-family);
  font-size: 24px;
  line-height: 2;
  color: #272142;
}
.homepage-projects h2 {
  font-size: 64px;
}
.fab {
  color: var(--secondary-color);
}
.project-description {
  padding: 120px 60px;
}
.inquire {
  background-color: var(--primary-color);
  width: 70%;
  height: auto;
  margin: 0 auto;
  padding: 32px 60px;
  border-radius: 20px;
}
/* buttons & link styles */
.btn-hero {
  border-radius: 4px;
  background: var(--secondary-color);
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
  font-family: var(--body-font-family);
  font-weight: 500;
}
.btn-outline {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
  font-family: var(--body-font-family);
  font-weight: 500;
}
.inquire a {
  text-decoration: none;
  font-weight: 400;
}
/* image style */
.img-bg-color {
  background-color: var(--primary-color);
}

/* media queries */
@media (max-width: 990px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  .hero h1 {
    font-size: 48px;
    line-height: 1.5;
  }
  .homepage-projects h2 {
    font-size: 40px;
  }
  .hero {
    padding: 80px 20px;
  }
}
@media (max-width: 576px) {
  .inquire p {
    margin-bottom: 32px;
  }
  .inquire {
    padding: 40px 60px;
  }
}
